<div class="explain-wrapper">
  <h2 class="text-center">思いよ届けとは</h2>
    <p class="text-center">最近世の中では「誹謗中傷」といった以前では聞きなれないような言葉が聞かれるようになりました。<br>言葉とは本来ならば人を傷つけるようなものではなく、人を喜ばし、励ましたりするものです。<br>思いよ届けはそんな人を応援するためのサービスです</p>

  <ul class="text-center">
    <li>使用方法</li>
    <li>1.新規登録、すでに登録されている方はログイン</li>
    <li>2.届けるボタンをクリックすることで、自分の言葉を届けることができます</li>
    <li>＊ログインをしなくても探すボタンをクリックし、言葉を探すことができます</li>
  </ul>

  <ul class="text-center">
    <li>禁止事項</li>
    <li>他者を傷つけたり、不快にさせるような投稿の禁止</li>
    <li>他者のプライバシーを侵害するような投稿の禁止</li>
    <li>性的な投稿など風気を乱す投稿の禁止 </li>
  </ul>
</div>