<div class="explain-wrapper">
  <h2 class="text-center">思いよ届けとは</h2>
    <p class="text-center">最近世の中では「誹謗中傷」といった以前では聞きなれないような言葉が聞かれるようになりました。<br>言葉とは本来ならば人を傷つけるようなものではなく、人を喜ばし、励ましたりするものです。<br>思いよ届けはそんな人を応援するためのサービスです</p>

  <ul class="text-center">
    <li><img src="/album_family.png" class="icon_image" alt="アイコン"></li>
    <li>使用方法</li>
    <li>1.新規登録、すでに登録されている方はログイン</li>
    <li>2.届けるボタンをクリックすることで、自分の言葉を届けることができます</li>
    <li>3.好きな作品についてはいいねを送ったり、お気に入りに登録することや、作者にコメントやDMを送ることが可能です<br>ログインした方のみのサービスになります</li>
    <li>＊ログインをしなくても探すボタンをクリックし、言葉を探すことができます</li>
  </ul>
  
  <ul class="text-center">
    <li><img src="/pose_tomeru_keisatsukan.png" class="icon_image" alt="アイコン"></li>
    <li>禁止事項</li>
    <li>1.他者を傷つけたり、不快にさせるような投稿の禁止</li>
    <li>2.他者のプライバシーを侵害するような投稿の禁止</li>
    <li>3.性的な投稿など風気を乱す投稿の禁止 </li>
  </ul>

  <ul class="text-center">
    <li><%=link_to '戻る', posts_path, class: "btn btn-outline-success btn-lg"%></li>
  </ul>