<img src="/ogasuta458A8658.jpg" class="d-block w-100" height=300 alt="閲覧室">
<div class="search-wrapper">

<%= render "layouts/page_search" %>

<h2 class="text-center">検索結果</h2>
  <%= render "searches/search_card" %>
  <%= render "layouts/return_btn" %>
</div>

<%= render "layouts/footer" %>
