<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/Photoelly060.jpg" class="d-block w-100" height=700 alt="言葉">
      <div class="carousel-caption d-none d-md-block">
        <h5>言葉</h5>
        <p>大切な人に大好きな言葉を届けよう</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/yogon1025.jpg" class="d-block w-100" height=700 alt="景色">
      <div class="carousel-caption d-none d-md-block">
        <h5>景色</h5>
        <p>大切な人に大好きな景色を届けよう</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/cat458A8400.jpg" class="d-block w-100" height=700 alt="宝物">
      <div class="carousel-caption d-none d-md-block">
        <h5>宝物</h5>
        <p>大切な人に宝物を届けよう</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>