<%= turbo_frame_tag "category_search_btn" do %>

<h2 class="text-center">カテゴリー検索</h2>
  <%= search_form_for @q ,url: post_category_path do |f| %>
    <div class="text-center">
      <%= f.collection_select :category_id_eq, Category.where.not(id:1), :id, :name %>
      <%= f.submit '探す', class:"btn btn-outline-success btn-sm" %>
    </div>
  <% end %>

<% end %>