<div class="like-wrapper">
  <div class="text-center">
    <% if user_signed_in? && current_user != @post.user %>
      <% if current_user.favorite_find(@post.id) %>
        <%= link_to 'お気に入りからはずす', post_favorites_path(@post.id), data: { turbo_method: :delete },class:"like-btn" %>
      <% else %>
        <%= link_to 'お気に入り登録する', post_favorites_path(@post.id), data: { turbo_method: :post },class:"like-btn" %>
      <% end %>
    <% end %>
  </div>
</div>