<%= turbo_frame_tag "page_post" do %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%=link_to 'ホーム', root_path %></li>
    <% if user_signed_in?%>
      <li class="breadcrumb-item"><%= link_to "#{current_user.nickname}さんのページ",user_path(current_user.id)%></li>
      <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
    <% end %>
  </ol>
</nav>

<% end %>